<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.clonecoding.myapp.main.mainDao.MainMapper"> 
	<select id="selectTest" resultType="com.clonecoding.myapp.main.VO.Greeting"> 
		SELECT ProductID as id, Price as id 
		from Product 
	</select> 
</mapper>

